/* login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-form h1 {
  text-align: center;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.btn.login-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.login-btn:hover {
  background-color: #004494;
}

.login-links {
  text-align: center;
  margin-top: 20px;
}

.login-links a {
  text-decoration: none;
  margin-right: 10px;
}

.error {
  margin-bottom: 15px;
  text-align: center;
}
