/* login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
    padding: 20px;
    border-radius: 10px;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    min-width: 300px ;
    min-height: 350px;
    margin-top: 15vh;
    /*margin-bottom: auto;*/
}
button{
    margin-bottom: 10px;
}
#password{
    margin-bottom: 50px;
}
#username{
    margin-bottom: 30px;
}
.login-form h1 {
  text-align: center;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    min-height: 50px;
}


.login-links {
  text-align: center;
  margin-top: 20px;
}

.login-links a {
  text-decoration: none;
  margin-right: 10px;
}

.error {
  margin-bottom: 15px;
  text-align: center;
}
