.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    margin-right: 10px; /* Adds spacing between multiple links */
}
.signup-form {
    padding: 20px;
    border-radius: 10px;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    min-width: 300px ;
    min-height: 350px;
}

.signup-form h1 {
    text-align: center;
}

.signup-form label {
    margin-bottom: 5px;
}

.signup-form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    min-height: 50px;
}

.btn.signup-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.signup-btn:hover {
    background-color: #004494;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
}