<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/assets/css/login.css" />
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
  </head>
  <body>
    <div class="login-container">
      <form class="login-form" id="login-form">
        <h1>Login</h1>
        <p class="error" id="error-msg" style="display: none;"></p>

        <label for="username">Username</label>
        <input type="text" id="username" required />

        <label for="password">Password</label>
        <input type="password" id="password" required />

        <button type="submit" class="button">Login</button>

        <div class="login-links">
          <a href="/">Home</a>
          <a href="/signup">Create Account</a>
          <a href="/signup">Sign Up</a>
        </div>
      </form>
    </div>




    <script src="../static/backend/auth/session.js"></script>
    <script src="../static/backend/auth/login.js"></script>


  </body>
</html>
